<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= style %>">
    <title>Ordonnance</title>
</head>

<body>
    <header>
        <h1>Pharmacie SAUTHEUZ</h1>
    </header>
    <h1>Liste des ordonnances</h1>
    <div class="sidebar">
        <a href="/#" class="button"><img src="<%= logo %>" height="60px" width="60px"></a>
        <hr>
        <a href="/medecins/afficher">Médecin</a>
        <a href="/ordonnance/afficher" class="on">Ordonnance</a>
        <a href="">Autre</a>
        <a href="">A propos</a>
        <a href="">Contact</a>
    </div>
    <form action="/ordonnance/ajouter" method="post">
        <label for="ordo_medId">MedId:</label>
        <input type="text" id="ordo_medId" name="ordo_medId" required>

        <label for="ordo_cliId">CliId:</label>
        <input type="text" id="ordo_cliId" name="ordo_cliId" required>

        <label for="ordo_pathId">PathId:</label>
        <input type="text" id="ordo_pathId" name="ordo_pathId" required>

        <label for="ordo_date">Date:</label>
        <input type="text" id="ordo_date" name="ordo_date" required>

        <button type="submit">Ajouter Médecin</button>
    </form>
    <br>
    <% if (ordonnance && ordonnance.length) { %>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Médecin</th>
                    <th>Client</th>
                    <th>Pathologie</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% ordonnance.forEach(ordonnance => { %>
                    <tr>
                        <td><%= ordonnance.ordo_id %></td>
                        <td><%= ordonnance.ordo_medId %></td>
                        <td><%= ordonnance.ordo_cliId %></td>
                        <td><%= ordonnance.ordo_pathId %></td>
                        <td><%= ordonnance.ordo_date %></td>
                        <td>
                            <a href="/ordonnance/modifier/<%= ordonnance.ordo_id %>"><button>Modifier</button></a>
                            
                            <form action="/ordonnance/supprimer/<%= ordonnance.ordo_id %>" method="POST">
                                <button type="submit">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>Aucune ordonnance disponible.</p>
    <% } %>
</body>